.hl-checkbox {
  color: #606266;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  .hl-checkbox-label {
    cursor: pointer;
    .hl-checkbox-input {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      border: 1px solid #dcdfe6;
      position: relative;
      box-sizing: border-box;
      margin-right: 8px;
      border-radius: 2px;
      transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
        background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
      &.isChecked {
        background-color: #409eff;
        border-color: #409eff;
      }
      &.isDisabled {
        background-color: #edf2fc;
        border-color: #dcdfe6;
        cursor: not-allowed;
      }
      &::after {
        transform: rotate(45deg) scaleY(1);
      }
      &.isChecked::after {
        position: absolute;
        box-sizing: border-box;
        top: 1px;
        left: 4px;
        content: "";
        width: 5px;
        height: 9px;
        transition: transform 0.15s ease-in 0.05s;
        transform-origin: center;
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
      }
      .hl-checkbox--original-input {
        display: none;
      }
    }
    .hl-checkbox-content {
      vertical-align: middle;
    }
    
  }
  &.isChecked{
    color: #409eff;
  }
  &.isDisabled {
    color: #c0c4cc;
    cursor: not-allowed;
    .hl-checkbox-label {
      cursor: not-allowed;
    }
  }
}
