.hl-notification {
  display: flex;
  position: fixed;
  padding: 14px 26px 14px 13px;
  right: 16px;
  top: 20px;
  width: 330px;
  box-sizing: border-box;
  border: 1px solid #ebeef5;
  border-radius: 8px;
  transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.4s,
    bottom 0.3s;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.hl-notification--group {
  margin-top: 5px;
  margin-left: 10px;
}
.hl-notification--title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.hl-notification--message {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.hl-notification--closeBtn {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 18px;
}
.hl-notification-fade-leave-active {
  opacity: 0;
}
.hl-notification-fade-enter-active{
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.hl-notification-fade-enter.left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
