.hl-radio {
  color: #606266;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: 14px;
  margin-right: 20px;
  &.border{
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    &.is-checked {
      border-color: #409eff;
    }
    &.is-disabled{
      border-color: #e4e7ed;
      cursor: not-allowed;
    }
  }
  input {
    height: 20px;
  }
  .hl-radio-input{
    border: 1px solid #dcdfe6;
    border-radius: 50%;
    background: #fff;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    &::before {
      content: "";
      width: 6px;
      height: 6px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
    }
    &.is-checked{
      border-color: #409eff;
      background: #409eff;
    }
    &.is-disabled{
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      cursor: not-allowed;
    }
    .hl-radio--original{
      display: none;
    }
  }
  .hl-radio-label{
    line-height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    
    &.is-disabled {
      color: #a0a0a0;
    }
  }
}
